# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
dist/
out-tsc/
.angular/
.angular/cache
coverage/
libpeerconnection.log
testem.log

# Compiled output
out/
tmp/
.bazel-out

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-*
.vscode/
.history/

# System files
.DS_Store
Thumbs.db

# Miscellaneous
.sass-cache/
connect.lock
typings
.cache/
