<app-card titulo="Primeiro Componente" cor="blue">
  <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo="Aprofundando conhecimento em Templates" cor="green">
  <app-segundo-componente></app-segundo-componente>
</app-card>

<app-card titulo="Pipe Customizado" cor="red">
  <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="Two-way data binding" cor="purple">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card titulo="Renderizando Listas" cor="orange">
  <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="Componente Personalizado" cor="pink">
  <app-componente-personalizado nome="Lucas" sobrenome="Silveira"></app-componente-personalizado>

  <app-componente-personalizado nome="Maria" sobrenome="Silveira"></app-componente-personalizado>
</app-card>

<app-card titulo="Compartilhando Dados" cor="brown">
  <app-componente-pai></app-componente-pai>
</app-card>

<app-card titulo="Serviços" cor="gray">
  <app-exemplo-servicos1></app-exemplo-servicos1>

  <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>

<app-card titulo="Ciclo de Vida" cor="lightblue">
  <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>

<app-card titulo="Formulários" cor="lightgreen">
  <app-formulario-avancado></app-formulario-avancado>
</app-card>
